name: Go

on:
  pull_request:
    branches:
    - main
  push:
    branches:
    - main

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
    - name: Set up Go
      uses: actions/setup-go@v3
      with:
        go-version: 1.21.1
        check-latest: true
    - name: Check out code
      uses: actions/checkout@v3
    - name: Build
      run: |
         cd ./kms && go build ./... && go vet ./... && cd ..
         cd ./kes && go build ./... && go vet ./... && cd ..
    - name: Lint
      uses: golangci/golangci-lint-action@v3
      with:
        version: latest
        args: --config ./.golangci.yml
  test:
    name: Test ${{ matrix.os }}
    needs: Build
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]
    steps:
    - name: Set up Go
      uses: actions/setup-go@v3
      with:
        go-version: 1.21.1
        check-latest: true
    - name: Check out code
      uses: actions/checkout@v3
    - name: Test
      run: | 
        cd ./kms && go test ./... && cd ..
        cd ./kes && go test ./... && cd ..
  
  vulncheck:
    name: Vulncheck
    needs: Build
    runs-on: ubuntu-latest
    steps:
    - name: Check out code into the Go module directory
      uses: actions/checkout@v3
    - uses: actions/setup-go@v3
      with:
        go-version: 1.21.1
        check-latest: true
    - name: Get govulncheck
      run: go install golang.org/x/vuln/cmd/govulncheck@latest
      shell: bash
    - name: Run govulncheck
      run: |
        cd ./kms && govulncheck ./... && cd ..
        cd ./kes && govulncheck ./... && cd ..
      shell: bash
